
<%- include('./partials/header.ejs') %>
<body>
    <div class="container">
        <p>Home</p>
        <a class="btn btn-success" href="/article/new"> <i class="fa fa-plus"></i> Create Blog</a>

        <p>List of Blogs appear here.</p>
    </div>
    
</body>
</html>