<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  </head>
  <body>
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <button
            type="button"
            class="navbar-toggle"
            data-toggle="collapse"
            data-target="#myNav"
          >
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a href="/" class="navbar-brand">AuthSite</a>
        </div>
        <div class="collapse navbar-collapse" id="myNav">
          <ul class="nav navbar-nav navbar-right">
            <li>
              <a href="/signup" class="">
                <span class="glyphicon glyphicon-user text-white"></span>
                   Signup</span
                ></a
              >
            </li>
            <li>
              <a href="/login" class="">
                <span class="glyphicon glyphicon-log-in"> Login</span></a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container">
        <div class="row mt-1" style="border: 1px #EFEFEF solid; ;">
            <h3 class="text-muted text-center mb-3">Login</h3>
            <br>
            <div class=" mt-5 mt-lg-0" style="width: 50%; margin: auto;">
              <form
                action="/login"
                id = 'signup-form'
                method="POST"
                role="form"
              >
                <div class="row">
                    <div class="form-group">
                    <label for="name" class="text-muted">Email</label>
                    <input
                      type="text"
                      name="email"
                      class="form-control"
                      id="email"
                      placeholder="Email"
                      required
                    />
                    <span class="name-err"></span>
                    </div>
                    <div class="form-group">
                        <label for="name" class="text-muted">Password</label>
                        <input
                          type="password"
                          name="password"
                          class="form-control"
                          id="password"
                          placeholder="Password"
                          required
                        />
                        <span class="name-err"></span>
                        </div>
                  </div>
                </div>

                <div class="text-center mt-2">
                  <button type="submit" class="btn btn-primary">Login</button>
                </div>
              </form>
            
        <br>
        <br>
              <p class="text-center mt-5">Already have an account? <a href="/login">Login</a></p>
            </div>
          </div>
    </div>

    <script src="./bootstrap/js/jQuery-2.1.3.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  </body>
</html>
